.messageSection{
	width: 100%;
	height: 100%;
	background: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-bottom: 5px solid black;
	margin: 0;
	padding: 0;
}
.messageSection h1{
	margin: 0;
	width: 100%;
	text-align: center;

}
.line{
	position: relative;
	top: 50%;
	width: 24em;
	margin: 0 auto;
	border-right: 2px solid rgba(0,0,0,0.75);
	font-size: 180%;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-180%);
	
}
.anim-typewriter{
	animation: typewriter 2s steps(20) 1s 1 normal both,
	blinkTextCursor 500ms steps(20) infinite normal;
}
.anim-typewriter-description{
	animation: typewriterDescription 2s steps(20) 1s 1 normal both,
	blinkTextCursor 500ms steps(20) infinite normal;
}

@keyframes typewriter{
	from{
		width: 0;
	}
	to{
		width: 9em;
	}
}
@keyframes typewriterDescription{
	from{
		width: 0;
	}
	to{
		width: 14em;
	}
}
@keyframes blinkTextCursor{
	from{
		border-right-color: rgba(0,0,0,0.75);
	}
	to{
		border-right-color: transparent;
	}
}