.mainMenu{
	width: 100%;
	position: fixed;
	display: block;
	z-index: 500;
	height: 60px;
	background: #fff;
	border-bottom: 5px solid rgba(0,0,0,.1);

}
.bottomBar{
	position: fixed;
	width: 100%;
	height: 60px;
	z-index: 500;
	bottom: 0px;
	background: #fff;
	

}
.leftBar{
	position: fixed;
	width: 30px;
	height: 100%;
	z-index: 501;
	left: 0px;
	background: #fff;
	

}
.rightBar{
	position: fixed;
	width: 30px;
	height: 100%;
	z-index: 500;
	right: 0px;
	background: #fff;

}
.innerMainMenu{
	margin: 0 auto;
	padding: 0;
	width: 80vw;
	height: 100%;

	
}
.innerMainMenu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	height: 100%;
}
.innerMainMenu ul li{
	float: none;
	display: inline-block;
	font-size: 20px;
	height: 100%;
}
.innerMainMenu ul li:nth-child(1){
	float: left;
}
.innerMainMenu ul li:nth-child(2){
	float: left;
}
.innerMainMenu ul li a{
	display: inline-block;
	color: rgba(0,0,0,0.3);
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 0px 20px;
	height: 100%;
	display: flex;
	align-items: center;
}

/*#282c34;*/