.blogSection{
	width: 100%;	
	height: calc(100vh - 60px);
	background-color: #222;
	display: block;
	flex-wrap: wrap;
	align-content: center;
	overflow: hidden;
	margin: 0;
	padding: 20px;
}
.blogInner{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	overflow-x: auto;
	height: 100%;
	width: auto;

}

